.container{
    background-color: rgb(157, 155, 153);
    height: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}
span{
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
span{
    color: black;
    font-size: 40px;
    margin-left: 80px;
}
.m3{
    color: rgb(78, 78, 78);
    text-decoration: none;
    margin-left: 10px;
    display: inline;
}
.m1{
    text-decoration: none;
    margin-left: 100px;
    color: black;
}
a{
    text-decoration: none;
    color: rgb(63, 61, 61);
    margin-left: 30px;
}
button{
    display: inline;
    justify-content: space-around;
   margin-left: 100px;
   width: 100px;
   border-radius: 3px;
   border: none;
   height: 50px;
   background-color: rgb(63, 61, 61);
   color: white;
}