.a{
    background-color: greenyellow;
    text-align: center;
}
b{
    color: white;
    font-size: large;
}
.c{
    width: 300px;
    height: 200px;
    background-color: rgb(243, 239, 239);
}
.d{
    padding-bottom: 300px;
    padding-left: 10px;
}
img{
    height: 100px;
    width: 200px;
    background-color: aquamarine;
}
p{
    text-align: center;
    background-color: black;
    color: white;
}