.A{
    background-color: rgb(80, 47, 110);
    width: 27%;
    padding: 10px;
}
.A1{
    color: white;
}
input{
    border-radius: 5px;
    background-color: rgb(80, 47, 110);
    border: 1px solid white;
    font-size: 15px;
}
textarea{
    font-size: 33px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgb(80, 47, 110);
}
button{
    background-color: white;
    font-size: 7px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.A2{
    color: white;
}