img{
    height: 70px;
    width: 70px;
}
div{
    width: 550px;
    border-top: 1px dashed rgb(191, 187, 187);
    font-size: 10px
}

table{
    width: 550px;
}

.hi{
    padding-left: 10px;
    border-left: 1px solid rgb(193, 193, 193);
}
p{
    opacity: 0.4;
}
h4{
    padding-top: 1px;
}